html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


body {
  font-size: 12px;
  font-family: monospace;
  color:inherit;
}


header,
section,
div,
footer {
  box-sizing: border-box;
}

/*page header*/

.page-header {
  width: 100%;
}

.inner-header {
  width: 100%;
  padding-top: 10px;

}

.profile-pic {
  border-radius: 70px;
}

.intro-summary {
  float: right;
  text-align: right;
  margin-top: 15px;
}

.name {
  font-size: 48px;
  margin-bottom: 5px;
  margin-top: 0;
}

.skills {
  margin-top: 5px;
}

/* horizontal line*/

hr {
  height: 5px;
  background-color: lightsteelblue;
  border: 0;
}

/* main tag*/

.main-content {
  width: 100%;
}

/* background image for feature project, div tag*/


.featured-project-screenshots {
  width: 100%;
  background-image: url("img/pss.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 384px;
}

/* featured skills section */
/* below style is common to all projects class children*/

.featured-skills {
  width: 100%;
}

.projects {
  width:100%;
}

h3 {
  font-size: 24px;
  font-family: sans-serif;
  margin-bottom: 13px;
}
.proj-list-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: unset;
  overflow-x: scroll;
}

.proj-item {
  width: 300px;
  height: 250px;
  background-color: #c3cfef;
  margin-left: 5px;
  margin-bottom: 5px;
}

.proj-img {
    background-image: url("img/profile.png");
    width: 300px;
    height: 200px;
    border: 1px solid red;
}

.proj-name {
  margin-top: 5px;
  text-align: center;
  font-size: 19px;
  margin-bottom: 5px;
}

.proj-name:hover {
  cursor: pointer;
}

.gitHub-link {
  display: block;
  text-align: center;
}


/*footer for page*/

.page-footer {
  width: 100%;
}

.social-links-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 5px;
  padding:10px;
  border: 1px solid none;
  border-radius:10px;
  background-color:#e1e6e6;
}
