html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


body {
  font-size: 12px;
  font-family: monospace;
  color:inherit;
}


header,
section,
div,
footer {
  box-sizing: border-box;
}

/*page header*/

.page-header {
  width: 100%;
}

.inner-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.profile-pic {
  border-radius: 70px;
}

.intro-summary {
  text-align: right;
}

.name {

}

.skills {

}
