
/*page header */

.inner-header {
  text-align: center;
}

.profile-pic {
  width: 124px;
}

.intro-summary {
  width: 100%;
  margin-top: 0;
  text-align: center;
  float: none;
}

.name {
  font-size: 28px;
  margin-bottom: 5px;
  margin-top: 0;
}

.skills {
  font-size: 1.1em;
  margin-bottom: 0;
}

/* project heading
* project-list container and
* project-item and
* project-item children
*/

h3 {
  font-weight: normal;
  letter-spacing: 3px;
}

.proj-item {
  width: 200px;
  height: 160px;
}

.proj-img {
  background-image: url("img/profile.png");
  width: 200px;
  height: 100px;
}

.proj-name {
  letter-spacing: 3px;
}

.gitHub-link {
  font-size: 19px;
  letter-spacing: 2px;
}
